<div class="create-game-container" *ngIf="game">
    <div class="general-data-container  fade-in">
        <div class="input-container" *ngIf="step>=0">
            <div class="label-div">
                <label>{{'ROUNDS:' | translate }}</label>
            </div>
            <div class="input-div">
                <input type="number" [(ngModel)]="game.roundsNumber" (keyup)="checkLetterError();checkRoundsError()"
                    placeholder="{{'Number of rounds' | translate }}">
            </div>
        </div>
        <div class="input-container" *ngIf="step>=0">
            <div class="label-div">
                <label>{{'PEOPLE:' | translate }}</label>
            </div>
            <div class="input-div">
                <input type="number" [(ngModel)]="game.people" (keyup)="checkPeopleError()"
                    placeholder="{{'Number of people' | translate }}">
            </div>
        </div>
    </div>
    <div class="letters-container fade-in" *ngIf="step>=1">
        <div class="label-div">
            <label>{{'LETTERS:' | translate }}</label>
        </div>
        <div class="hint">
            <button class="button fade-in" *ngIf="!lettersHint" (click)="lettersHint=true">
                {{'info' | translate }}
            </button>
            <label *ngIf="lettersHint" class="fade-in" [innerHTML]="'Choose the letters you want to play with.<br />RED means disabled, so they will not be used on this game.' | translate ">
                
            </label>
        </div>
        <div class="letters-inner-container" *ngIf="game.excludedLetters">
            <div *ngFor="let letter of allLetters" class="letter"
                [ngStyle]="{'background-color': (game.excludedLetters.includes(letter))?'lightcoral':'lightgreen'}"
                (click)="handleLetter(letter)">
                {{letter}}
            </div>
        </div>
    </div>
    <div class="categories-container fade-in" *ngIf="step>=2">
        <div class="label-div">
            <label>{{'CATEGORIES:' | translate }}</label>
        </div>
        <div class="hint">
            <button class="button fade-in" *ngIf="!categoriesHint" (click)="categoriesHint=true">
                {{'info' | translate }}
            </button>
            <label *ngIf="categoriesHint" class="fade-in">
                {{'Choose at least 3 categories from the suggestion list or create custom ones. Those will be the categories about which you will have to write words.' | translate }}
            </label>
        </div>

        <div class="categories-list suggested-list">
            <div *ngFor="let c of getSuggestedCategories(); let i = index" class="category suggested fade-in"
                (click)="categoryAdded(c)?removeSuggestedCategory(i):addSuggestedCategory(i)"
                [class.suggested-added]="categoryAdded(c)">
                <div class="category-name">
                    {{c}}
                </div>
                <div class="add-div" *ngIf="!categoryAdded(c)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
                <div class="trash-div" *ngIf="categoryAdded(c)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>

            <div class="load-more-div fade-in">
                <button class="button load-more" *ngIf="suggestedAmount<suggestedCategories.length"
                    (click)="loadMore()">
                    {{'load more' | translate }}
                </button>
            </div>
        </div>

        <div class="add-category">
            <input type="text" [(ngModel)]="selectedCategory" (keyup.enter)="addCategory()"
                placeholder="{{'Custom category' | translate }}">
            <button (click)="addCategory()" class="add-category-button fade-in"
                *ngIf="selectedCategory">{{'ADD' | translate }}</button>
        </div>
        <div class="categories-list">
            <div *ngFor="let c of game.categories; let i = index" class="category added fade-in"
                (click)="removeCategory(i)">
                <div class="category-name">
                    {{c}}
                </div>
                <div class="trash-div">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="footer fade-in" *ngIf="step<2">
        <button (click)="nextStep()" class="button">{{'Next step' | translate }}</button>
    </div>
    <div class="footer">
        <label *ngIf="categoriesError && step>=2" class="error fade-in">{{categoriesError | translate }}</label>
        <label *ngIf="peopleError" class="error fade-in">{{peopleError | translate }}</label>
        <label *ngIf="roundsError" class="error fade-in">{{roundsError | translate }}</label>
        <label *ngIf="lettersError && step>=1" class="error fade-in">{{lettersError | translate }}</label>
    </div>
    <div class="footer" *ngIf="step>=2">
        <button (click)="createGame()" class="button fade-in">{{'Create game' | translate }}</button>
    </div>
</div>