@import "../app.component.scss";
.create-game-container {
  padding: 10px 0 20px 0;

  .general-data-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .input-container {
      width: 100%;
      text-align: center;
      padding: 10px;
    }
  }

  .label-div {
    padding: 10px;
  }

  .input-div {
    padding: 10px;

    input {
      width: 50%;

      border: none;
      border-bottom: 1px solid black;
      font-size: 25px;
      text-align: center;

      font-family: "Montserrat", sans-serif;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .letters-container {
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .label-div {
      width: 100%;
      text-align: center;
    }

    .letters-inner-container {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .letter {
        width: 20px;
        height: 20px;
        margin: 3px;
        padding: 5px;

        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
      }

      .letter:hover {
        cursor: pointer;
      }
    }
  }

  .categories-container {
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .label-div {
      width: 100%;
      text-align: center;
    }

    .add-category {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      input {
        margin: 0;
        padding: 5px 10px;

        font-size: 15px;
        background: transparent;
        border: 1px solid black;
        border-left: none;
        border-top: 1px solid transparent;
        border-right: none;
        font-family: "Montserrat", sans-serif;
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      .add-category-button {
        margin: 0 0 0 3px;
        padding: 5px 10px;

        background: transparent;
        border: 1px solid black;

        border-radius: 10px;
      }

      .add-category-button:hover {
        background: black;
        color: white;
        border: 1px solid black;
      }
    }

    .categories-list {
      width: 80%;

      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      padding: 10px;

      .category {
        margin: 3px;
        padding: 5px 10px;

        text-align: center;
        border: 1px solid black;
        border-radius: 10px;

        display: flex;
      }

      .suggested {
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 10px;

        .add-div {
          opacity: 0;
          position: absolute;
          color: rgba(0, 0, 0, 0.8);
        }
        .trash-div {
          opacity: 0;
          position: absolute;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .suggested:hover {
        background-color: lightgreen;

        .category-name {
          opacity: 0.2;
        }
        .add-div {
          opacity: 1;
        }
      }

      .added {
        position: relative;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .trash-div {
          opacity: 0;
          position: absolute;
          color: rgba(0, 0, 0, 0.8);
        }
      }

      .added:hover {
        background-color: lightcoral;

        .category-name {
          opacity: 0.2;
        }
        .trash-div {
          opacity: 1;
        }
      }
      .suggested-added {
        background-color: lightcoral;

        .category-name {
          opacity: 0.2;
        }
        .trash-div {
          opacity: 1;
        }
      }
      .suggested-added:hover {
        background-color: lightcoral;

        .category-name {
          opacity: 0.2;
        }
        .trash-div {
          opacity: 1;
        }
      }
    }

    .suggested-list {
      border-top: 1px solid grey;
      border-bottom: 1px solid grey;
      margin: 5px 0 10px 0;
    }
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 10px;

    .error {
      width: 100%;
      padding: 5px;
      color: darkred;
      text-align: center;
    }
  }

  .button {
    margin-top: 3px;
    background: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;

    font-size: 20px;

    cursor: pointer;

    font-family: "Montserrat", sans-serif;
  }

  .button:hover {
    background: black;
    color: white;
    border: 1px solid black;
  }
}
